Glossaries.Core/bin
Glossaries.Core/obj
Glossaries.IOS/bin
Glossaries.IOS/obj
Glossaries.Model/bin
Glossaries.Model/obj
packages
.DS_Store
Glossaries.userprefs
Glossaries.Test/bin
Glossaries.Test/obj
